In [1]:
import pandas as pd  # (version 1.0.0)
import plotly  # (version 4.5.0)
import plotly.express as px

import dash  # (version 1.8.0)
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State
import os

/tmp/ipykernel_221890/863870333.py:6: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/tmp/ipykernel_221890/863870333.py:7: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [2]:
file_name = 'data/DOHMH_New_York_City_Restaurant_Inspection_Results_sub.csv'
df = pd.read_csv(file_name)
df

,Unnamed: 0,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,30,50085568,VERO WINE BAR,Manhattan,1483,2ND AVE,10075.0,9175257373,Italian,09/10/2019,...,01/03/2020,Pre-permit (Operational) / Re-inspection,40.772177,-73.955910,108.0,4.0,13400.0,1044110.0,1.014320e+09,MN31
1,32,50058944,SINBAD,Brooklyn,7721,5TH AVE,11209.0,7184915600,Egyptian,10/10/2017,...,01/03/2020,Cycle Inspection / Re-inspection,40.627747,-74.023334,310.0,43.0,13600.0,3149880.0,3.059620e+09,BK31
2,43,41253818,RUBY TUESDAY,Manhattan,7,TIMES SQUARE TOWER,10036.0,2123823898,American,10/18/2017,...,01/03/2020,Cycle Inspection / Re-inspection,40.755908,-73.986681,105.0,3.0,11300.0,1086069.0,1.009940e+09,MN17
3,48,50053595,HOP HOUSE HARLEM,Manhattan,2224,FREDERICK DOUGLASS BLVD,10026.0,6468580252,American,03/26/2019,...,01/03/2020,Cycle Inspection / Initial Inspection,40.806828,-73.953593,110.0,9.0,22000.0,1058456.0,1.019250e+09,MN11
4,73,41070673,AMOR KARAOKE & BAR,Queens,7801,ROOSEVELT AVENUE,11372.0,7184247562,"Latin (Cuban, Dominican, Puerto Rican, South &...",04/07/2017,...,01/03/2020,Inter-Agency Task Force / Initial Inspection,40.747260,-73.887510,403.0,25.0,28500.0,4029944.0,4.012890e+09,QN28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49820,398562,41639363,BOTTEGA RESTAURANT,Manhattan,1331,2 AVENUE,10021.0,2122885282,Italian,04/09/2018,...,01/03/2020,Cycle Inspection / Initial Inspection,40.767632,-73.959227,108.0,4.0,12600.0,1072227.0,1.014258e+09,MN31
49821,398573,41387108,NEW SHAMA RESTAURANT,Brooklyn,232,NEPTUNE AVENUE,11235.0,7183681721,Pakistani,06/08/2016,...,01/03/2020,Cycle Inspection / Initial Inspection,40.581549,-73.961804,313.0,48.0,36400.0,3244500.0,3.086671e+09,BK19
49822,398578,50032933,FUEL GRILL & JUICE BAR,Manhattan,133,E 45TH ST,10017.0,2128080100,"Juice, Smoothies, Fruit Salads",08/29/2019,...,01/03/2020,Cycle Inspection / Re-inspection,40.753216,-73.974280,106.0,4.0,9200.0,1081159.0,1.013000e+09,MN19
49823,398580,50007663,DELUCA'S ITALIAN RESTAURANT,Staten Island,7324,AMBOY RD,10307.0,7182277200,Italian,08/07/2018,...,01/03/2020,Cycle Inspection / Re-inspection,40.511141,-74.241275,503.0,51.0,24401.0,5087832.0,5.078680e+09,SI11
49824,398585,41098607,GEORGE'S,Manhattan,8789,GREENWICH STREET,NaN,2122698026,American,06/18/2018,...,01/03/2020,Cycle Inspection / Initial Inspection,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000e+00,NaN

In [3]:
df['INSPECTION DATE'] = pd.to_datetime(df['INSPECTION DATE'])

In [4]:
newdf = df.groupby(['CAMIS', 'INSPECTION DATE',
                   'CUISINE DESCRIPTION'], as_index=False)['SCORE'].sum()

In [5]:
newdf

          CAMIS INSPECTION DATE CUISINE DESCRIPTION  SCORE
0      30075445      2018-05-11              Bakery    5.0
1      30075445      2019-06-11              Bakery    6.0
2      30075445      2019-10-21              Bakery   17.0
3      30112340      2016-04-12          Hamburgers    0.0
4      30112340      2016-04-30          Hamburgers   13.0
...         ...             ...                 ...    ...
41844  50102087      1900-01-01               Other    0.0
41845  50102100      1900-01-01               Other    0.0
41846  50102131      1900-01-01               Other    0.0
41847  50102238      1900-01-01               Other    0.0
41848  50102251      1900-01-01               Other    0.0

[41849 rows x 4 columns]

In [6]:
# df['INSPECTION DATE'] =
pd.DatetimeIndex(df['INSPECTION DATE']).month

Int64Index([ 9, 10, 10,  3,  4,  8,  1,  1,  2,  7,
            ...
             1,  5,  8,  8,  5,  4,  6,  8,  8,  6],
           dtype='int64', name='INSPECTION DATE', length=49825)

In [7]:
newdf['INSPECTION DATE'] = newdf['INSPECTION DATE'].dt.to_period('M')
newdf

          CAMIS INSPECTION DATE CUISINE DESCRIPTION  SCORE
0      30075445         2018-05              Bakery    5.0
1      30075445         2019-06              Bakery    6.0
2      30075445         2019-10              Bakery   17.0
3      30112340         2016-04          Hamburgers    0.0
4      30112340         2016-04          Hamburgers   13.0
...         ...             ...                 ...    ...
41844  50102087         1900-01               Other    0.0
41845  50102100         1900-01               Other    0.0
41846  50102131         1900-01               Other    0.0
41847  50102238         1900-01               Other    0.0
41848  50102251         1900-01               Other    0.0

[41849 rows x 4 columns]

In [8]:
df['INSPECTION DATE'][0].year

2019

In [12]:
rank_df = newdf.groupby(
    ['CUISINE DESCRIPTION', 'INSPECTION DATE'], as_index=False)['SCORE'].sum()
rank_df

                CUISINE DESCRIPTION INSPECTION DATE  SCORE
0                            Afghan         2016-09   44.0
1                            Afghan         2017-08    2.0
2                            Afghan         2017-10   18.0
3                            Afghan         2017-12   76.0
4                            Afghan         2018-02   32.0
...                             ...             ...    ...
2784  Vietnamese/Cambodian/Malaysia         2019-08  384.0
2785  Vietnamese/Cambodian/Malaysia         2019-09  144.0
2786  Vietnamese/Cambodian/Malaysia         2019-10  207.0
2787  Vietnamese/Cambodian/Malaysia         2019-11  209.0
2788  Vietnamese/Cambodian/Malaysia         2019-12  135.0

[2789 rows x 3 columns]

In [ ]:
newdf.conten